# 보스턴 집값 Data Lodaing

In [1]:
import pandas as pd  # 라이브러리 호출

In [2]:
data_url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data' # data URL
df_data = pd.read_csv(data_url, sep='\s+', header=None) # csv 타입 데이터 로드 , 구분자는 빈공간으로 지정하고, 컬럼은 없음

In [3]:
df_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [4]:
df_data.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], dtype='int64')

In [5]:
df_data.columns = ['CRIM', 'ZN', 'INDOS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV' ]

In [6]:
df_data.columns

Index(['CRIM', 'ZN', 'INDOS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [7]:
df_data.head()

,CRIM,ZN,INDOS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [8]:
df_data

,CRIM,ZN,INDOS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9


# numpy 계산해 보기

In [9]:
import numpy as np  # Numpy 라이브러리 호출

In [10]:
weight_vector = np.array([[1], [1], [1]]) # Weight Vector

In [11]:
weight_vector

array([[1],
       [1],
       [1]])

In [12]:
x_vector = np.array([[3], [4], [5]]) # X Vector

In [13]:
x_vector

array([[3],
       [4],
       [5]])

In [14]:
weight_vector.shape

(3, 1)

In [15]:
x_vector.shape

(3, 1)

In [16]:
x_vector.ndim

2

In [17]:
weight_vector.T

array([[1, 1, 1]])

In [18]:
weight_vector.T.dot(x_vector)  # 1 * 3 + 1 * 4 + 1* 5 = 12

array([[12]])

# 보스턴 집값 데이터 조작하기

In [19]:
df_data.head()

,CRIM,ZN,INDOS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [20]:
df_data['weight_0'] = 1

In [21]:
df_data.head()

,CRIM,ZN,INDOS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,weight_0
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0,1
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6,1
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2,1

In [22]:
df_data = df_data.drop('MEDV',axis=1)

In [23]:
df_data.head()

,CRIM,ZN,INDOS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,weight_0
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,1
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,1
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,1

In [24]:
df_data.values

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 3.9690e+02, 4.9800e+00,
        1.0000e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 3.9690e+02, 9.1400e+00,
        1.0000e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 3.9283e+02, 4.0300e+00,
        1.0000e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 3.9690e+02, 5.6400e+00,
        1.0000e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 3.9345e+02, 6.4800e+00,
        1.0000e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 3.9690e+02, 7.8800e+00,
        1.0000e+00]])

In [25]:
df_data.values[0]

array([6.320e-03, 1.800e+01, 2.310e+00, 0.000e+00, 5.380e-01, 6.575e+00,
       6.520e+01, 4.090e+00, 1.000e+00, 2.960e+02, 1.530e+01, 3.969e+02,
       4.980e+00, 1.000e+00])

# Datafram --> Numpy, 곱셈 연산

In [26]:
weight_vector = np.random.random_sample((14, 1))

In [27]:
weight_vector

array([[0.34559257],
       [0.32170389],
       [0.47187234],
       [0.77507286],
       [0.57160971],
       [0.23498139],
       [0.38730386],
       [0.74149547],
       [0.33646869],
       [0.86787699],
       [0.29084862],
       [0.97529655],
       [0.62999079],
       [0.20429502]])

In [28]:
df_matrix = df_data.to_numpy()  # dataframe을 numpy로 변경

In [29]:
df_matrix.shape

(506, 14)

In [31]:
weight_vector.shape

(14, 1)

In [32]:
df_matrix.dot(weight_vector)

array([[ 689.1352259 ],
       [ 648.29771711],
       [ 634.39451736],
       [ 611.2343871 ],
       [ 618.25502925],
       [ 617.02894445],
       [ 709.27058098],
       [ 726.54369181],
       [ 724.82268548],
       [ 711.80851527],
       [ 722.76345061],
       [ 717.88407543],
       [ 695.56507848],
       [ 699.58522972],
       [ 693.0292681 ],
       [ 696.23369742],
       [ 676.12614125],
       [ 701.16118877],
       [ 586.01021253],
       [ 697.97254966],
       [ 701.30671031],
       [ 709.00944869],
       [ 717.46722576],
       [ 719.03700891],
       [ 714.46122119],
       [ 622.67157119],
       [ 695.18809372],
       [ 627.38838834],
       [ 706.32318575],
       [ 695.49862028],
       [ 685.07243417],
       [ 697.60445904],
       [ 559.15111665],
       [ 681.05197952],
       [ 575.54213543],
       [ 676.22180626],
       [ 655.81871876],
       [ 665.71906144],
       [ 658.81065833],
       [ 653.59119524],
       [ 649.88630741],
       [ 598.09021514],
       [ 598.00836075],
       [ 609.82859555],
       [ 619.14176177],
       [ 623.9465538 ],
       [ 626.26535798],
       [ 645.86305759],
       [ 661.27620084],
       [ 639.37215689],
       [ 645.44500534],
       [ 648.08211876],
       [ 632.1938321 ],
       [ 634.17263899],
       [ 862.30507742],
       [ 638.81019337],
       [ 718.35933299],
       [ 670.63082034],
       [ 669.77690927],
       [ 683.57799945],
       [ 691.85661512],
       [ 686.35356223],
       [ 690.33213171],
       [ 681.97723947],
       [ 620.7601721 ],
       [ 729.58548063],
       [ 738.13022251],
       [ 719.61705918],
       [ 729.35824786],
       [ 725.2433619 ],
       [ 663.67313363],
       [ 663.18046583],
       [ 670.30299317],
       [ 657.63346572],
       [ 755.45753191],
       [ 760.71677505],
       [ 764.38412394],
       [ 765.15970242],
       [ 769.67320271],
       [ 769.97657557],
       [ 670.5311885 ],
       [ 684.77578474],
       [ 670.82714422],
       [ 670.80329084],
       [ 640.14435549],
       [ 636.65407884],
       [ 639.82623266],
       [ 640.28165115],
       [ 670.45744876],
       [ 660.78909089],
       [ 659.72951995],
       [ 663.69678503],
       [ 672.93892167],
       [ 663.37255551],
       [ 685.40943225],
       [ 627.16749633],
       [ 667.59514625],
       [ 670.97668564],
       [ 652.07118652],
       [ 666.82397212],
       [ 771.14658086],
       [ 767.57190738],
       [ 457.9872014 ],
       [ 776.13741447],
       [ 774.47347298],
       [ 780.69340395],
       [ 781.88100356],
       [ 768.61299236],
       [ 779.74949827],
       [ 775.69232728],
       [ 762.14798671],
       [ 814.77955054],
       [ 821.92232347],
       [ 825.56731488],
       [ 808.88229228],
       [ 771.11613278],
       [ 810.1290102 ],
       [ 814.10781431],
       [ 758.88071797],
       [ 806.45680947],
       [ 600.69090102],
       [ 594.9963678 ],
       [ 601.03536812],
       [ 599.63733533],
       [ 603.11905284],
       [ 604.04818391],
       [ 589.39881159],
       [ 830.85194161],
       [ 835.6883458 ],
       [ 836.08851117],
       [ 832.39364844],
       [ 833.90554802],
       [ 822.24429095],
       [ 826.48340394],
       [ 706.37882913],
       [ 834.54899189],
       [ 816.39625763],
       [ 832.32145415],
       [ 834.18414996],
       [ 837.17713808],
       [ 830.37620187],
       [ 847.97746925],
       [ 812.54797858],
       [ 811.87136687],
       [ 812.1903694 ],
       [ 593.85130257],
       [ 583.15364804],
       [ 806.41496238],
       [ 771.1536055 ],
       [ 762.4715312 ],
       [ 779.022565  ],
       [ 748.87875704],
       [ 745.70779216],
       [ 672.51743236],
       [ 729.45106306],
       [ 497.67991385],
       [ 502.04072856],
       [ 764.01504717],
       [ 756.62304844],
       [ 767.68158719],
       [ 739.39572682],
       [ 770.66590003],
       [ 789.4850378 ],
       [ 787.68608678],
       [ 797.68505584],
       [ 646.06557633],
       [ 769.34313581],
       [ 629.6133679 ],
       [ 703.30226294],
       [ 735.41984333],
       [ 699.89734892],
       [ 754.24763315],
       [ 699.71747242],
       [ 693.30765241],
       [ 685.41506048],
       [ 667.17226948],
       [ 678.04952606],
       [ 687.98954462],
       [ 684.38474987],
       [ 591.97755129],
       [ 602.02409805],
       [ 595.86359047],
       [ 602.17589722],
       [ 606.7184204 ],
       [ 603.81998641],
       [ 591.7073687 ],
       [ 586.05613756],
       [ 776.76895527],
       [ 760.56831605],
       [ 778.73271299],
       [ 754.43171041],
       [ 769.45088707],
       [ 767.43138283],
       [ 652.85224013],
       [ 639.58291568],
       [ 658.04108153],
       [ 726.7763266 ],
       [ 689.0205316 ],
       [ 725.4153911 ],
       [ 789.74910679],
       [ 776.8817014 ],
       [ 744.61444746],
       [ 735.00718797],
       [ 636.28256765],
       [ 633.05561419],
       [ 659.57551786],
       [ 669.7933343 ],
       [ 676.65800561],
       [ 662.05423082],
       [ 698.06528454],
       [ 687.83522486],
       [ 692.42939352],
       [ 669.77971264],
       [ 651.80897943],
       [ 619.39245547],
       [ 663.37878676],
       [ 670.83798253],
       [ 679.32215676],
       [ 692.12713699],
       [ 684.28030415],
       [ 704.68183969],
       [ 716.5915906 ],
       [ 699.73905302],
       [ 704.98153202],
       [ 690.27825177],
       [ 689.61360479],
       [ 695.29851944],
       [ 679.65951908],
       [ 659.25841531],
       [ 663.40499775],
       [ 684.6403875 ],
       [ 682.17198577],
       [ 688.93661335],
       [ 681.71405494],
       [ 664.95762884],
       [ 679.97908705],
       [ 697.69212805],
       [ 693.73679851],
       [ 666.98670057],
       [ 681.09699495],
       [ 695.77906412],
       [ 703.70035282],
       [ 677.48141033],
       [ 658.14349305],
       [ 712.67904591],
       [ 730.2204335 ],
       [ 711.95786479],
       [ 716.02417145],
       [ 702.44247447],
       [ 706.97486557],
       [ 706.90305382],
       [ 685.13836979],
       [ 694.28044383],
       [ 705.85442311],
       [ 714.37568427],
       [ 713.24236069],
       [ 647.00445199],
       [ 664.01181568],
       [ 664.28112575],
       [ 672.11533711],
       [ 667.7293306 ],
       [ 664.97735614],
       [ 663.77925155],
       [ 674.40154983],
       [ 665.666711  ],
       [ 660.11957664],
       [ 663.63128037],
       [ 653.04542237],
       [ 650.51615701],
       [ 629.3370015 ],
       [ 618.45148763],
       [ 612.50987293],
       [ 627.4320013 ],
       [ 621.36463575],
       [ 650.72569553],
       [ 653.61534133],
       [ 651.75029146],
       [ 646.30497636],
       [ 651.93624889],
       [ 609.27617953],
       [ 612.36327952],
       [ 607.31929271],
       [ 597.29792127],
       [ 610.440395  ],
       [ 687.97655393],
       [ 693.7789497 ],
       [ 603.4969174 ],
       [ 691.5844613 ],
       [ 697.44009513],
       [ 665.35134559],
       [ 653.48850248],
       [ 653.63853003],
       [ 652.5548323 ],
       [ 669.01388652],
       [ 679.38907616],
       [ 672.96235287],
       [ 677.368899  ],
       [ 689.47186379],
       [ 718.07271348],
       [ 717.43395649],
       [ 751.51682568],
       [ 720.07132817],
       [ 699.18512654],
       [ 703.28224397],
       [ 621.43504063],
       [ 628.33782505],
       [ 635.58051364],
       [ 635.54747301],
       [ 701.8161899 ],
       [ 701.9821474 ],
       [ 644.06221358],
       [ 690.70055536],
       [ 708.23179258],
       [ 700.4213168 ],
       [ 705.63371768],
       [ 704.03773885],
       [ 705.0032695 ],
       [ 705.05871611],
       [ 697.97727218],
       [ 697.52203214],
       [ 677.25391139],
       [ 677.81370792],
       [ 676.74632797],
       [ 683.01276438],
       [ 672.03977451],
       [ 658.87398909],
       [ 668.19885776],
       [ 678.03870421],
       [ 775.97862354],
       [ 764.04917665],
       [ 764.9219495 ],
       [ 693.05897267],
       [ 657.27158214],
       [ 609.61764774],
       [ 610.13825939],
       [ 616.28337568],
       [ 621.38068654],
       [ 625.26168676],
       [ 616.07465414],
       [ 620.71811278],
       [ 625.506563  ],
       [ 678.22137163],
       [ 787.68766995],
       [ 767.16913145],
       [ 746.46727168],
       [ 723.39591126],
       [ 705.68863913],
       [ 746.26667418],
       [ 680.74390635],
       [ 716.16433385],
       [ 726.83712129],
       [ 772.4031388 ],
       [ 787.96491904],
       [ 601.62269794],
       [ 720.7851263 ],
       [ 711.78633792],
       [1025.26461103],
       [1031.88477002],
       [1032.36810564],
       [1026.46831876],
       [1010.37953048],
       [ 991.84942936],
       [1020.29414448],
       [ 994.16381384],
       [ 987.79481882],
       [ 989.18671857],
       [ 957.29765082],
       [ 783.06497919],
       [1011.93853952],
       [1012.27221119],
       [1028.62926921],
       [1008.41950544],
       [ 986.51667395],
       [1054.67620986],
       [1059.03809473],
       [1044.03573223],
       [1013.75683627],
       [1045.82536474],
       [1051.06312297],
       [1046.21472261],
       [1068.05295821],
       [1047.99292563],
       [1047.44282702],
       [1047.59596158],
       [ 943.5244923 ],
       [1053.70897768],
       [1055.35487331],
       [1053.1242605 ],
       [1030.10900538],
       [1045.00174462],
       [1039.31261748],
       [1018.76420471],
       [1048.44066349],
       [1039.38524381],
       [1042.49280194],
       [1038.25818687],
       [1042.35479924],
       [1040.55360611],
       [1061.83476149],
       [ 985.83185684],
       [1055.02888199],
       [1047.30237363],
       [1025.47839656],
       [1048.91988055],
       [ 989.58761815],
       [1055.63051231],
       [1024.59227294],
       [ 977.73770222],
       [ 967.41628444],
       [ 834.85021676],
       [ 668.75093864],
       [ 694.87855856],
       [ 698.24550362],
       [ 870.47490811],
       [ 767.31558822],
       [ 693.82041781],
       [ 680.22858632],
       [ 788.02810351],
       [ 697.00344004],
       [ 699.33591831],
       [ 966.89724234],
       [ 965.21662855],
       [ 935.14876404],
       [ 656.5122294 ],
       [ 648.62583563],
       [ 669.17692602],
       [ 665.16846493],
       [ 674.92749348],
       [ 744.67253806],
       [ 718.69225023],
       [ 732.83241343],
       [ 735.91508569],
       [ 738.4832426 ],
       [ 748.2449004 ],
       [ 753.51900961],
       [ 766.54989607],
       [ 683.42918214],
       [ 673.71815116],
       [ 731.319265  ],
       [1044.91688002],
       [1042.99204427],
       [1033.89060912],
       [1041.12781963],
       [1035.34197814],
       [ 895.30953998],
       [ 701.62435403],
       [ 965.02183008],
       [1034.34608703],
       [1044.20742128],
       [ 953.77023805],
       [ 653.90310187],
       [1002.01588232],
       [1028.1154024 ],
       [1023.10560176],
       [ 662.57625109],
       [ 700.6765968 ],
       [ 662.28171472],
       [ 652.58496286],
       [ 915.46015111],
       [1035.94808699],
       [ 900.3996226 ],
       [1031.01460692],
       [1034.97601209],
       [1032.12126958],
       [1028.19496216],
       [ 959.50540566],
       [ 670.98372887],
       [ 978.99560269],
       [1008.51625058],
       [1027.34204265],
       [1036.12574921],
       [1034.96363211],
       [1027.67366944],
       [1005.12839652],
       [ 999.14329848],
       [ 954.51553559],
       [1040.41124422],
       [1003.27296785],
       [1026.78295886],
       [1025.10933477],
       [1025.94412364],
       [1024.28001712],
       [1026.92839224],
       [1011.75895972],
       [ 992.20161688],
       [1012.53363821],
       [1030.39142787],
       [1012.87863645],
       [1073.18914313],
       [1029.2554226 ],
       [1007.73210612],
       [1070.8447304 ],
       [1068.74891035],
       [ 770.79688842],
       [ 767.46519343],
       [ 761.34005718],
       [ 784.14357663],
       [ 778.97501632],
       [ 775.86308829],
       [ 779.17653003],
       [ 782.39140398],
       [ 668.10592052],
       [ 675.20759588],
       [ 678.69639063],
       [ 675.34066902],
       [ 676.18041928]])

In [33]:
df_matrix.dot(weight_vector).shape

(506, 1)